force-app/main/default/flows/Vyuha_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Set_Title</name>
        <label>Set Title</label>
        <locationX>324</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>UserRecord.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Vyuha</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Vyuha Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Vyuha Test</label>
    <loops>
        <name>Loop_through_input_IDs</name>
        <label>Loop through input IDs</label>
        <locationX>131</locationX>
        <locationY>75</locationY>
        <assignNextValueToReference>inputID</assignNextValueToReference>
        <collectionReference>inputIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lookup_User</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Lookup_User</name>
        <label>Lookup User</label>
        <locationX>133</locationX>
        <locationY>221</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Title</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserRecord</outputReference>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>509</locationX>
        <locationY>217</locationY>
        <connector>
            <targetReference>Loop_through_input_IDs</targetReference>
        </connector>
        <inputReference>UserRecord</inputReference>
    </recordUpdates>
    <startElementReference>Loop_through_input_IDs</startElementReference>
    <variables>
        <name>inputID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inputIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
